<div class="detail-container">

    <div class="wrap">

      <!-- メインのスライダー -->
      <div class="swiper-container slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img  src="<%="/user_images/#{@post.post_image1}"%>" border="1.8">          </div>
          <div class="swiper-slide">
            <img  src="<%="/user_images/#{@post.post_image1}"%>" border="1.8">
          </div>
          <div class="swiper-slide">
            <img  src="<%="/user_images/#{@post.post_image1}"%>" border="1.8">              </div>
          </div>
      </div>

      <!-- サムネイルのスライダー -->
      <div class="swiper-container thumbnail">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img  src="<%="/user_images/#{@post.post_image1}"%>" border="1.8">          </div>
          <div class="swiper-slide">
            <img  src="<%="/user_images/#{@post.post_image1}"%>" border="1.8">
          </div>
          <div class="swiper-slide">
            <img  src="<%="/user_images/#{@post.post_image1}"%>" border="1.8">          </div>
          </div>
      </div>

    </div>
  



    <div>
      <%=@post.title%>
      <%=@post.content%>
      <%=@likes_count%>

    </div>

    <div class="poster-comment-container">
      
      <% @reviews.each do |review| %>
        <%if review.user_id==@post.user_id%>
          <div>
            
            <%if review.post_id==@post.id%>
              <%=review.user_id%>
              <%=review.content%>
            <%end%>

            <%if @current_user!=nil%>
              <%if @current_user.id==review.user_id%>
                <%=link_to("削除","/reviews/#{@post.id}/destroy")%>
              <%end%>

            <%end%>
          </div>
        <%end%>
      <% end %>
    </div>


    <div class="reviewers-comment-container">
      <% @reviews.each do |review| %>
        <div>
          <%if review.post_id==@post.id%>
            <%=review.user_id%>
            <%=review.content%>
          <%end%>
          <%if @current_user!=nil%>
            <%if @current_user.id==review.user_id%>
              <%=link_to("削除","/reviews/#{@post.id}/destroy")%>
            <%end%>


          <%end%>
        </div>
      
      <% end %>

    </div>

    


    <div class="comment-form">
      <%=form_tag("/reviews/#{@post.id}/create") do%>
          <textarea class="comment-box" name="content"></textarea>
          <input class="comment-post-btn" type="submit" value="コメント投稿">
      <%end%>
    </div>

</div>




